<div class="map">
  <div class="doors-available" cdkDropList cdkDropListOrientation="horizontal">
    <div class="door-available" *ngFor="let door of doorsAvailable|async" cdkDrag (cdkDragReleased)="dropped($event)" cdkDragBoundary=".map">
      <div class="status no-status"></div>
      <h1 class="name">{{door.name}}</h1>
    </div>
  </div>
  <div class="map-wrapper">
    <div style="height: 100%;"
         leaflet
         [leafletLayers]="doorMarkers"
         (leafletMapReady)="onMapReady($event)"
         [leafletOptions]="options">
    </div>
  </div>
</div>
