:host {
  width: 100%;
  display: block;
}

.events {
  width: 100%;
  overflow-y: scroll;
  z-index: 55;

  .event-wrapper {
    border-bottom: 2px solid #ffffff0a;

    &:last-child {
      border-bottom: none;
    }

    .event {
      padding: 2em 1em;
      display: flex;
      height: 60px;
      & .shown * {
        opacity: 1!important;
      }
    }

    .status-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 75px;

      i {
        background-color: white;
        color: #0E124C;
        padding: 0.3em;
        border: 2px solid white;
        border-radius: 100%;
        font-size: 2em;
      }
    }

    .event-metadata {
      padding-top: 0.2em;
      padding-bottom: 0.4em;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
    }

    h1.event-name {
      margin: 0;
      color: lightgray;
      font-size: 1.2em;
      font-weight: normal;
      @media (max-width: 450px) {
        font-size: 1em;
      }

      .door-name {
        color: white;
        font-weight: bold;
      }

      .unknown {
        font-weight: bold;
        color: #ffeaea4f;
      }
    }

    h2.event-description {
      margin: 0;
      padding: 0;
      color: white;
      font-size: 1em;
      font-weight: normal;
      @media (max-width: 450px) {
        font-size: 0.8em;
      }
    }

    .event-alerts {
      margin-right: 1em;
      padding-top: 0.4em;
      padding-bottom: 0.4em;
      text-align: center;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
