:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  background-color: #463AE0;
  flex: 1;
  border-radius: 45px;
  padding: 2em;
  width: 400px;
  margin: 2em auto;
}

h1.title {
  text-align: center;
  margin: 0.4rem;
  font-size: 3.4em;
}

