:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb {
  background: white;
  width: 5px;
  border-radius: 25px 0 0 25px;
}

.content {
  background-color: #453AE0;
  flex: 1;
  width: 35%;
  min-width: 450px;
  margin: 0.5em auto 4em;
  border-radius: 45px;
  box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.34);
  z-index: 10;
  overflow: hidden;

  .scroll-wrapper {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
  }

  @media (max-width: 450px) {
    width: 100%;
    min-width: unset;
    margin: 0.5em auto 0;
    border-radius: 0!important;
  }
}

.navigation {
  width: 35%;
  min-width: 450px;
  border-radius: 45px 45px 0 0;
  background-color: white;
  padding: 0 0 3.5em;
  margin: 2em auto -2em;
  box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.34);
  height: 120px;

  .title {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-top: 1em;
    text-align: left;
    background-color: #d4d4d4;
    color: transparent;
    text-transform: lowercase;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;

    span {
      background: white;
      text-shadow: none;
      color: rgba(177, 168, 168, 0.28);
      font-weight: normal;
    }
  }

  @media (max-width: 450px) {
    width: 100%;
    border-radius: 0;
    padding: 0 0 1.5em;
    margin: 0 auto;
    min-width: unset;
    .title {
      font-size: 1.8em;
    }
  }
}

.links {
  display: flex;
  align-items: stretch;
  margin-left: 2.5rem;
  margin-right: 2.5rem;

  .link {
    font-weight: bold;
    font-size: 1.2em;
    margin-right: 2em;
    color: #46408B !important;
    text-decoration: none;
    padding-bottom: 0.2em;

    &.selected {
      border-bottom: 2px solid rgba(70, 64, 139, 0.61);
    }
  }
}
