<div class="doors">
  <div class="door-status-wrapper" *ngFor="let doorIdentifier of (doorIdentifiers | async)">
    <div *ngIf="getDoorSubscriber(doorIdentifier) | async let door" class="door-status" @fadeIn>
      <div class="status-icon">
        <i class="eva {{getIcon(door)}} door-open-{{door['status'] | doorAlertStatus: false: true}}"></i>
      </div>
      <div class="door-metadata">
        <h1 class="door-name">{{door['name']}}</h1>
        <h2 class="door-status">{{door['status'] | doorStatus}}
          <span class="door-sub-status {{door['status'] | doorAlertStatus: true}}">- {{door['status'] | doorAlertStatus}}</span>
        </h2>
      </div>
      <div class="door-alerts">
        <i class="eva {{getAlertIcon(door)}} door-alert-status-{{door['status'] | doorAlertStatus: true}}"></i>
      </div>
    </div>
  </div>
</div>
