:host {
  width: 100%;
  display: block;
}


.doors {
  width: 100%;
  overflow-y: scroll;

  div.door-status-wrapper {
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    border-bottom: 2px solid #ffffff0a;
    &:last-child {
      border-bottom: none;
    }

    div.door-status {
      padding: 2em 1em;
      display: flex;
      height: 60px;

      &.door-status-skeleton {
        * {
          color: transparent;
        }
      }
    }

    .status-icon {
      display: flex;
      justify-content: center;
      color: white;
      align-items: center;
      width: 75px;

      i {
        padding: 0.3em;
        border: 2px solid white;
        border-radius: 100%;
        font-size: 2em;

        &.door-open-false {
          background-color: white;
          color: #453AE0;
        }
      }
    }

    .door-metadata {
      padding-top: 0.2em;
      padding-bottom: 0.4em;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
    }

    h1.door-name {
      margin: 0;
      color: white;
      font-size: 1.2em;
      transition: all 1.5s cubic-bezier(.25, .8, .25, 1);
    }

    h2.door-status {
      margin: 0;
      padding: 0;
      color: white;
      font-size: 1em;
      font-weight: normal;
      transition: all 1.5s cubic-bezier(.25, .8, .25, 1);

      span.door-sub-status {
        color: #ffeaea4f;

        &.forced {
          color: #ff6a5e;
        }

        &.held {
          color: #FFF026;
        }
      }
    }

    .door-alerts {
      margin-right: 1em;
      padding-top: 0.4em;
      padding-bottom: 0.4em;
      text-align: center;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 1.5s cubic-bezier(.25, .8, .25, 1);

      .door-alert-status-forced {
        color: #ff6a5e;
      }

      .door-alert-status-held {
        color: #FFF026;
      }

      i {
        font-size: 2em;
      }
    }
  }
}
