:host {
  width: 100%;
  display: block;
}

.people {
  width: 100%;
  overflow-y: scroll;
  z-index: 55;

  .people-wrapper {
    border-bottom: 2px solid #ffffff0a;

    &:last-child {
      border-bottom: none;
    }

    .person {
      padding: 2em 1em;
      display: flex;
      height: 60px;
    }

    .status-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 75px;

      i {
        background-color: white;
        padding: 0.3em;
        color: #0E124C;
        border: 2px solid white;
        border-radius: 100%;
        font-size: 2em;
      }
    }

    .person-metadata {
      padding-top: 0;
      padding-bottom: 0.4em;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
    }

    h1.person-name {
      margin: 0;
      color: white;
      font-size: 1.2em;
      @media (max-width: 450px) {
        font-size: 1em;
      }
    }

    h2.person-card-number {
      margin: 0;
      padding: 0;
      color: white;
      font-size: 1em;
      font-weight: normal;
    }

    h2.person-card-status {
      color: rgba(255, 234, 234, 0.51);
      margin: 0;
      padding: 0;
      font-size: 0.9em;
      font-weight: normal;
    }

    .person-alerts {
      margin-right: 1em;
      padding-top: 0.4em;
      padding-bottom: 0.4em;
      text-align: center;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
